.block6 {
  display: flex;
}



.block6__reviews {
  margin-left: 107px;
}

.block6__h2 {
  font-family: "NovaFlat-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  padding-top: 70px;
  margin-bottom: 42px;
}


