@font-face {
  font-style: normal;
  font-weight: 200;
  font-family: "NovaFlat-Regular";

  font-display: swap;
  src: url("../fonts/NovaFlat-Regular.woff2") format("woff2"), url("../fonts/NovaFlat-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Jost";

  font-display: swap;
  src: url("../fonts/Jost-VariableFont_wght.woff2") format("woff2"), url("../fonts/Jost-VariableFont_wght.woff") format("woff");
}


